# STEP3: Perform some simple data analysis

Start by connecting to the database by running the cells below. If you are coming back to this exercise, then uncomment and run the first cell to recreate the database. If you recently completed steps 1 and 2, then skip to the second cell.

In [2]:
#!PGPASSWORD=student createdb -h 127.0.0.1 -U student pagila
#!PGPASSWORD=student psql -q -h 127.0.0.1 -U student -d pagila -f Data/pagila-schema.sql
#!PGPASSWORD=student psql -q -h 127.0.0.1 -U student -d pagila -f Data/pagila-data.sql

In [1]:
%load_ext sql

DB_ENDPOINT = "127.0.0.1"
DB = 'pagila'
DB_USER = 'student'
DB_PASSWORD = 'student'
DB_PORT = '5432'

# postgresql://username:password@host:port/database
conn_string = "postgresql://{}:{}@{}:{}/{}" \
                        .format(DB_USER, DB_PASSWORD, DB_ENDPOINT, DB_PORT, DB)

print(conn_string)
%sql $conn_string

postgresql://student:student@127.0.0.1:5432/pagila

'Connected: student@pagila'

### 3NF - Entity Relationship Diagram

<img src="./pagila-3nf.png" width="50%"/>

## 3.1 Insight 1:   Top Grossing Movies 
- Payments amounts are in table `payment`
- Movies are in table `film`
- They are not directly linked, `payment` refers to a `rental`, `rental` refers to an `inventory` item and `inventory` item refers to a `film`
- `payment` &rarr; `rental` &rarr; `inventory` &rarr; `film`

### 3.1.1 Films

In [2]:
%%sql
select film_id, title, release_year, rental_rate, rating  
from film
limit 5;

 * postgresql://student:***@127.0.0.1:5432/pagila
5 rows affected.

[(1, 'ACADEMY DINOSAUR', 2006, Decimal('0.99'), 'PG'),
 (2, 'ACE GOLDFINGER', 2006, Decimal('4.99'), 'G'),
 (3, 'ADAPTATION HOLES', 2006, Decimal('2.99'), 'NC-17'),
 (4, 'AFFAIR PREJUDICE', 2006, Decimal('2.99'), 'G'),
 (5, 'AFRICAN EGG', 2006, Decimal('2.99'), 'G')]

### 3.1.2 Payments

In [3]:
%%sql
select * 
from payment 
limit 5;

 * postgresql://student:***@127.0.0.1:5432/pagila
5 rows affected.

[(16050, 269, 2, 7, Decimal('1.99'), datetime.datetime(2017, 1, 24, 21, 40, 19, 996577, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None))),
 (16051, 269, 1, 98, Decimal('0.99'), datetime.datetime(2017, 1, 25, 15, 16, 50, 996577, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None))),
 (16052, 269, 2, 678, Decimal('6.99'), datetime.datetime(2017, 1, 28, 21, 44, 14, 996577, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None))),
 (16053, 269, 2, 703, Decimal('0.99'), datetime.datetime(2017, 1, 29, 0, 58, 2, 996577, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None))),
 (16054, 269, 1, 750, Decimal('4.99'), datetime.datetime(2017, 1, 29, 8, 10, 6, 996577, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)))]

### 3.1.3 Inventory

In [4]:
%%sql
select * 
from inventory 
limit 5;

 * postgresql://student:***@127.0.0.1:5432/pagila
5 rows affected.

[(1, 1, 1, datetime.datetime(2017, 2, 15, 10, 9, 17, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None))),
 (2, 1, 1, datetime.datetime(2017, 2, 15, 10, 9, 17, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None))),
 (3, 1, 1, datetime.datetime(2017, 2, 15, 10, 9, 17, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None))),
 (4, 1, 1, datetime.datetime(2017, 2, 15, 10, 9, 17, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None))),
 (5, 1, 2, datetime.datetime(2017, 2, 15, 10, 9, 17, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)))]

### 3.1.4 Get the movie of every payment

In [5]:
%%sql
SELECT f.title, p.amount, p.payment_date, p.customer_id                                            
FROM payment p
JOIN rental r    ON ( p.rental_id = r.rental_id )
JOIN inventory i ON ( r.inventory_id = i.inventory_id )
JOIN film f ON ( i.film_id = f.film_id)
limit 5;

 * postgresql://student:***@127.0.0.1:5432/pagila
5 rows affected.

[('SWARM GOLD', Decimal('1.99'), datetime.datetime(2017, 1, 24, 21, 40, 19, 996577, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 269),
 ('PACKER MADIGAN', Decimal('0.99'), datetime.datetime(2017, 1, 25, 15, 16, 50, 996577, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 269),
 ('SOMETHING DUCK', Decimal('6.99'), datetime.datetime(2017, 1, 28, 21, 44, 14, 996577, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 269),
 ('DRACULA CRYSTAL', Decimal('0.99'), datetime.datetime(2017, 1, 29, 0, 58, 2, 996577, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 269),
 ('CLOSER BANG', Decimal('4.99'), datetime.datetime(2017, 1, 29, 8, 10, 6, 996577, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 269)]

### 3.1.5 sum movie rental revenue
TODO: Write a query that displays the amount of revenue from each title. Limit the results to the top 10 grossing titles. Your results should match the table below.

In [6]:
%%sql
SELECT f.title, sum(p.amount) as Revenue
FROM (SELECT DISTINCT payment_id, rental_id, amount FROM payment) p
JOIN rental r    ON ( p.rental_id = r.rental_id )
JOIN inventory i ON ( r.inventory_id = i.inventory_id )
JOIN film f ON ( i.film_id = f.film_id)
GROUP BY f.title
ORDER BY sum(p.amount) DESC
limit 10;

 * postgresql://student:***@127.0.0.1:5432/pagila
10 rows affected.

[('TELEGRAPH VOYAGE', Decimal('231.73')),
 ('WIFE TURN', Decimal('223.69')),
 ('ZORRO ARK', Decimal('214.69')),
 ('GOODFELLAS SALUTE', Decimal('209.69')),
 ('SATURDAY LAMBS', Decimal('204.72')),
 ('TITANS JERK', Decimal('201.71')),
 ('TORQUE BOUND', Decimal('198.72')),
 ('HARRY IDAHO', Decimal('195.70')),
 ('INNOCENT USUAL', Decimal('191.74')),
 ('HUSTLER PARTY', Decimal('190.78'))]

<div class="p-Widget jp-RenderedHTMLCommon jp-RenderedHTML jp-OutputArea-output jp-OutputArea-executeResult" data-mime-type="text/html"><table>
    <tbody><tr>
        <th>title</th>
        <th>revenue</th>
    </tr>
    <tr>
        <td>TELEGRAPH VOYAGE</td>
        <td>231.73</td>
    </tr>
    <tr>
        <td>WIFE TURN</td>
        <td>223.69</td>
    </tr>
    <tr>
        <td>ZORRO ARK</td>
        <td>214.69</td>
    </tr>
    <tr>
        <td>GOODFELLAS SALUTE</td>
        <td>209.69</td>
    </tr>
    <tr>
        <td>SATURDAY LAMBS</td>
        <td>204.72</td>
    </tr>
    <tr>
        <td>TITANS JERK</td>
        <td>201.71</td>
    </tr>
    <tr>
        <td>TORQUE BOUND</td>
        <td>198.72</td>
    </tr>
    <tr>
        <td>HARRY IDAHO</td>
        <td>195.70</td>
    </tr>
    <tr>
        <td>INNOCENT USUAL</td>
        <td>191.74</td>
    </tr>
    <tr>
        <td>HUSTLER PARTY</td>
        <td>190.78</td>
    </tr>
</tbody></table></div>

## 3.2 Insight 2:   Top grossing cities 
- Payments amounts are in table `payment`
- Cities are in table `cities`
- `payment` &rarr; `customer` &rarr; `address` &rarr; `city`

### 3.2.1 Get the city of each payment

In [7]:
%%sql
SELECT p.customer_id, p.rental_id, p.amount, ci.city                            
FROM payment p
JOIN customer c  ON ( p.customer_id = c.customer_id )
JOIN address a ON ( c.address_id = a.address_id )
JOIN city ci ON ( a.city_id = ci.city_id )
order by p.payment_date
limit 10;

 * postgresql://student:***@127.0.0.1:5432/pagila
10 rows affected.

[(130, 1, Decimal('2.99'), 'guas Lindas de Gois'),
 (459, 2, Decimal('2.99'), 'Qomsheh'),
 (408, 3, Decimal('3.99'), 'Jaffna'),
 (333, 4, Decimal('4.99'), 'Baku'),
 (222, 5, Decimal('6.99'), 'Jaroslavl'),
 (549, 6, Decimal('0.99'), 'Santiago de Compostela'),
 (269, 7, Decimal('1.99'), 'Salinas'),
 (239, 8, Decimal('4.99'), 'Ciomas'),
 (126, 9, Decimal('4.99'), 'Po'),
 (399, 10, Decimal('5.99'), 'Okara')]

### 3.2.2 Top grossing cities
TODO: Write a query that returns the total amount of revenue by city as measured by the `amount` variable in the `payment` table. Limit the results to the top 10 cities. Your result should match the table below.

In [11]:
%%sql
SELECT ci.city, sum(p.amount) as revenue
FROM payment p
JOIN customer c  ON ( p.customer_id = c.customer_id )
JOIN address a ON ( c.address_id = a.address_id )
JOIN city ci ON ( a.city_id = ci.city_id )
group by ci.city
order by sum(p.amount) desc

 * postgresql://student:***@127.0.0.1:5432/pagila
597 rows affected.

[('Cape Coral', Decimal('221.55')),
 ('Saint-Denis', Decimal('216.54')),
 ('Aurora', Decimal('198.50')),
 ('Molodetno', Decimal('195.58')),
 ('Santa Brbara dOeste', Decimal('194.61')),
 ('Apeldoorn', Decimal('194.61')),
 ('Qomsheh', Decimal('186.62')),
 ('London', Decimal('180.52')),
 ('Ourense (Orense)', Decimal('177.60')),
 ('Bijapur', Decimal('175.61')),
 ('Tanza', Decimal('175.58')),
 ('Memphis', Decimal('174.66')),
 ('Skikda', Decimal('173.63')),
 ('Halisahar', Decimal('170.67')),
 ('Omdurman', Decimal('169.65')),
 ('Santa Rosa', Decimal('167.67')),
 ('Richmond Hill', Decimal('167.62')),
 ('Valparai', Decimal('166.65')),
 ('Kolpino', Decimal('162.62')),
 ('Bhilwara', Decimal('161.68')),
 ('Tanauan', Decimal('161.65')),
 ('Hodeida', Decimal('160.68')),
 ('Sumy', Decimal('159.72')),
 ('Zhoushan', Decimal('159.68')),
 ('Usolje-Sibirskoje', Decimal('159.67')),
 ('Lengshuijiang', Decimal('159.64')),
 ('Donostia-San Sebastin', Decimal('158.69')),
 ('Probolinggo', Decimal('158.66')),
 ('Salamanca', Decimal('157.65')),
 ('Najafabad', Decimal('157.65')),
 ('Maikop', Decimal('155.68')),
 ('Tangail', Decimal('155.65')),
 ('Changhwa', Decimal('155.59')),
 ('Changzhou', Decimal('154.60')),
 ('Shubra al-Khayma', Decimal('153.66')),
 ('Cam Ranh', Decimal('152.68')),
 ('Nakhon Sawan', Decimal('152.67')),
 ('Citt del Vaticano', Decimal('152.66')),
 ('Karnal', Decimal('152.65')),
 ('Pontianak', Decimal('152.65')),
 ('Balikesir', Decimal('152.63')),
 ('Kragujevac', Decimal('151.67')),
 ('Uruapan', Decimal('151.67')),
 ('Fuyu', Decimal('151.66')),
 ('Mannheim', Decimal('151.65')),
 ('Bergamo', Decimal('151.64')),
 ('Beira', Decimal('151.63')),
 ('Arecibo', Decimal('150.66')),
 ('Cabuyao', Decimal('149.65')),
 ('Yangor', Decimal('148.69')),
 ('Songkhla', Decimal('148.67')),
 ('Brescia', Decimal('147.69')),
 ('Usak', Decimal('147.65')),
 ('Ilorin', Decimal('146.69')),
 ('Akron', Decimal('146.69')),
 ('Hsichuh', Decimal('146.64')),
 ('Sincelejo', Decimal('145.70')),
 ('Belm', Decimal('145.68')),
 ('Batman', Decimal('145.67')),
 ('Vancouver', Decimal('144.70')),
 ('Ogbomosho', Decimal('144.68')),
 ('Naju', Decimal('144.67')),
 ('Malm', Decimal('144.66')),
 ('Nantou', Decimal('144.62')),
 ('Onomichi', Decimal('143.71')),
 ('Nyeri', Decimal('143.71')),
 ('Dos Quebradas', Decimal('143.68')),
 ('Kowloon and New Kowloon', Decimal('142.70')),
 ('Daugavpils', Decimal('142.70')),
 ('Moscow', Decimal('142.66')),
 ('Ciomas', Decimal('142.66')),
 ('Vila Velha', Decimal('141.71')),
 ('Nam Dinh', Decimal('141.70')),
 ('Rae Bareli', Decimal('141.69')),
 ('Binzhou', Decimal('141.67')),
 ('Atlixco', Decimal('141.67')),
 ('Tokat', Decimal('141.66')),
 ('Ikerre', Decimal('141.63')),
 ('Robamba', Decimal('140.69')),
 ('Qinhuangdao', Decimal('140.68')),
 ('Shimonoseki', Decimal('140.64')),
 ('Cuauhtmoc', Decimal('139.71')),
 ('Sterling Heights', Decimal('139.71')),
 ('Omiya', Decimal('139.70')),
 ('Yinchuan', Decimal('139.70')),
 ('Duisburg', Decimal('139.67')),
 ('Fengshan', Decimal('139.66')),
 ('Coatzacoalcos', Decimal('138.71')),
 ('Imus', Decimal('138.71')),
 ('Sungai Petani', Decimal('138.68')),
 ('Fontana', Decimal('138.67')),
 ('Siliguri (Shiliguri)', Decimal('138.66')),
 ('Ife', Decimal('137.70')),
 ('Parbhani', Decimal('137.69')),
 ('Aden', Decimal('137.69')),
 ('Ashdod', Decimal('137.67')),
 ('Nuuk', Decimal('137.66')),
 ('Ashgabat', Decimal('136.73')),
 ('Tychy', Decimal('136.64')),
 ('Athenai', Decimal('135.74')),
 ('Otsu', Decimal('135.74')),
 ('Wroclaw', Decimal('135.72')),
 ('Erlangen', Decimal('135.71')),
 ('Papeete', Decimal('135.70')),
 ('Sumqayit', Decimal('135.70')),
 ('Tabriz', Decimal('135.69')),
 ('Boksburg', Decimal('135.68')),
 ('NDjamna', Decimal('135.68')),
 ('Jinchang', Decimal('135.66')),
 ('Juiz de Fora', Decimal('134.73')),
 ('Angra dos Reis', Decimal('134.70')),
 ('Bhopal', Decimal('134.68')),
 ('La Plata', Decimal('134.68')),
 ('Leshan', Decimal('134.68')),
 ('Nha Trang', Decimal('134.68')),
 ('Kitwe', Decimal('134.67')),
 ('Lhokseumawe', Decimal('134.66')),
 ('Naala-Porto', Decimal('133.75')),
 ('Mysore', Decimal('133.73')),
 ('Joliet', Decimal('133.72')),
 ('Goinia', Decimal('133.72')),
 ('Olomouc', Decimal('133.71')),
 ('Kirovo-Tepetsk', Decimal('133.71')),
 ('Lancaster', Decimal('133.70')),
 ('Syrakusa', Decimal('132.72')),
 ('Miraj', Decimal('132.71')),
 ('Huixquilucan', Decimal('132.70')),
 ('San Felipe del Progreso', Decimal('132.70')),
 ('Avellaneda', Decimal('132.70')),
 ('Uijongbu', Decimal('132.68')),
 ('Osmaniye', Decimal('131.73')),
 ('Hiroshima', Decimal('131.70')),
 ('Sorocaba', Decimal('131.67')),
 ('Simferopol', Decimal('130.74')),
 ('Jining', Decimal('130.73')),
 ('Jedda', Decimal('130.72')),
 ('Yuncheng', Decimal('130.70')),
 ('Fukuyama', Decimal('130.68')),
 ('Boa Vista', Decimal('130.68')),
 ('Loja', Decimal('129.72')),
 ('York', Decimal('129.72')),
 ('Banjul', Decimal('129.70')),
 ('Baybay', Decimal('129.70')),
 ('Patiala', Decimal('129.70')),
 ('Salinas', Decimal('129.70')),
 ('Lapu-Lapu', Decimal('129.68')),
 ('Toulouse', Decimal('129.68')),
 ('Santo Andr', Decimal('129.64')),
 ('Ozamis', Decimal('128.73')),
 ('San Bernardino', Decimal('128.73')),
 ('Baha Blanca', Decimal('128.72')),
 ('Iwakuni', Decimal('128.71')),
 ('Mukateve', Decimal('128.70')),
 ('Ahmadnagar', Decimal('128.67')),
 ('El Fuerte', Decimal('128.67')),
 ('Vijayawada', Decimal('127.75')),
 ('Antofagasta', Decimal('127.73')),
 ('Miyakonojo', Decimal('127.71')),
 ('Jhansi', Decimal('127.71')),
 ('Tiefa', Decimal('127.71')),
 ('Xinxiang', Decimal('127.70')),
 ('Jastrzebie-Zdrj', Decimal('127.68')),
 ('Jamalpur', Decimal('127.68')),
 ('Chisinau', Decimal('127.66')),
 ('Urawa', Decimal('127.66')),
 ('Blumenau', Decimal('126.73')),
 ('Purnea (Purnia)', Decimal('126.73')),
 ('Coquimbo', Decimal('126.72')),
 ('Benin City', Decimal('126.72')),
 ('Hunuco', Decimal('126.71')),
 ('Cuernavaca', Decimal('126.71')),
 ('Merlo', Decimal('126.70')),
 ('Davao', Decimal('126.69')),
 ('Greensboro', Decimal('126.68')),
 ('Lima', Decimal('126.68')),
 ('Kimberley', Decimal('125.76')),
 ('Emeishan', Decimal('124.74')),
 ('Mit Ghamr', Decimal('124.73')),
 ('Dallas', Decimal('124.72')),
 ('Cavite', Decimal('124.70')),
 ('Botosani', Decimal('124.67')),
 ('Liaocheng', Decimal('124.66')),
 ('Lilongwe', Decimal('123.72')),
 ('Palghat (Palakkad)', Decimal('123.71')),
 ('Brindisi', Decimal('123.70')),
 ('Lungtan', Decimal('123.66')),
 ('Kamyin', Decimal('122.74')),
 ('Santa F', Decimal('122.73')),
 ('Warren', Decimal('122.72')),
 ('Mandaluyong', Decimal('122.71')),
 ('Kakamigahara', Decimal('122.71')),
 ('Datong', Decimal('122.69')),
 ('Charlotte Amalie', Decimal('122.68')),
 ('Xiangfan', Decimal('122.66')),
 ('Plock', Decimal('121.76')),
 ('Brockton', Decimal('121.74')),
 ('Satna', Decimal('121.70')),
 ('Dadu', Decimal('121.69')),
 ('Korolev', Decimal('121.69')),
 ('Kursk', Decimal('120.77')),
 ('Baiyin', Decimal('120.74')),
 ('Ambattur', Decimal('120.74')),
 ('Sawhaj', Decimal('120.74')),
 ('Funafuti', Decimal('120.74')),
 ('Southend-on-Sea', Decimal('120.71')),
 ('Zhezqazghan', Decimal('120.71')),
 ('Halle/Saale', Decimal('120.69')),
 ('Pjatigorsk', Decimal('119.74')),
 ('Udaipur', Decimal('119.74')),
 ('Pudukkottai', Decimal('119.73')),
 ('Portoviejo', Decimal('119.72')),
 ('Graz', Decimal('119.71')),
 ('Rampur', Decimal('119.70')),
 ('Liepaja', Decimal('119.70')),
 ('Hanoi', Decimal('119.69')),
 ('Chandrapur', Decimal('119.68')),
 ('Kuwana', Decimal('118.75')),
 ('Yerevan', Decimal('118.75')),
 ('Sharja', Decimal('118.73')),
 ('Owo', Decimal('118.73')),
 ('Dhaka', Decimal('118.72')),
 ('Salzburg', Decimal('118.72')),
 ('Tanshui', Decimal('118.72')),
 ('Bhimavaram', Decimal('118.71')),
 ('Tongliao', Decimal('118.68')),
 ('Sasebo', Decimal('118.68')),
 ('Southampton', Decimal('117.77')),
 ('Sogamoso', Decimal('117.76')),
 ('Quilmes', Decimal('117.76')),
 ('Tonghae', Decimal('117.75')),
 ('Iwaki', Decimal('117.74')),
 ('Effon-Alaiye', Decimal('117.73')),
 ('Po', Decimal('117.72')),
 ('Citrus Heights', Decimal('117.72')),
 ('Kamjanets-Podilskyi', Decimal('117.71')),
 ('Baicheng', Decimal('117.71')),
 ('Jinzhou', Decimal('117.70')),
 ('Pak Kret', Decimal('117.70')),
 ('Birgunj', Decimal('116.78')),
 ('Newcastle', Decimal('116.77')),
 ('Jaffna', Decimal('116.70')),
 ('Sunnyvale', Decimal('116.69')),
 ('Uluberia', Decimal('116.69')),
 ('Poos de Caldas', Decimal('116.68')),
 ('Callao', Decimal('115.74')),
 ('Kuching', Decimal('115.73')),
 ('Madiun', Decimal('115.72')),
 ('Mwanza', Decimal('115.71')),
 ('Shikarpur', Decimal('115.71')),
 ('Shaoguan', Decimal('115.71')),
 ('Weifang', Decimal('115.71')),
 ('Tambaram', Decimal('115.71')),
 ('Mardan', Decimal('115.70')),
 ('Tartu', Decimal('115.70')),
 ('Nagareyama', Decimal('115.70')),
 ('Ueda', Decimal('115.68')),
 ('Guaruj', Decimal('114.76')),
 ('Mexicali', Decimal('114.75')),
 ('Lipetsk', Decimal('114.74')),
 ('Ipoh', Decimal('114.74')),
 ('Zanzibar', Decimal('114.73')),
 ('Vaduz', Decimal('114.72')),
 ('Rockford', Decimal('114.72')),
 ('Paarl', Decimal('114.72')),
 ('Trshavn', Decimal('114.72')),
 ('Haldia', Decimal('114.69')),
 ('Cuautla', Decimal('114.69')),
 ('Sal', Decimal('113.78')),
 ('Huejutla de Reyes', Decimal('113.75')),
 ('Dayton', Decimal('113.74')),
 ('Acua', Decimal('113.74')),
 ('Garden Grove', Decimal('113.74')),
 ('Touliu', Decimal('113.73')),
 ('Nabereznyje Telny', Decimal('113.71')),
 ('Cuman', Decimal('113.71')),
 ('Pyongyang', Decimal('113.69')),
 ('Bandar Seri Begawan', Decimal('113.65')),
 ('Sultanbeyli', Decimal('112.77')),
 ('Ruse', Decimal('112.76')),
 ('Lincoln', Decimal('112.75')),
 ('al-Manama', Decimal('112.75')),
 ('Adana', Decimal('112.74')),
 ('Rustenburg', Decimal('112.73')),
 ('Batna', Decimal('112.72')),
 ('Tel Aviv-Jaffa', Decimal('112.70')),
 ('Monywa', Decimal('112.70')),
 ('Maracabo', Decimal('111.77')),
 ('Benguela', Decimal('111.75')),
 ('Sivas', Decimal('111.74')),
 ('Jalib al-Shuyukh', Decimal('111.74')),
 ('Iwatsuki', Decimal('111.73')),
 ('Pemalang', Decimal('111.73')),
 ('Mosul', Decimal('111.73')),
 ('Taizz', Decimal('111.72')),
 ('Szkesfehrvr', Decimal('111.71')),
 ('Munger (Monghyr)', Decimal('111.68')),
 ('Santiago de los Caballeros', Decimal('110.76')),
 ('Mwene-Ditu', Decimal('110.76')),
 ('al-Qatif', Decimal('110.75')),
 ('Uttarpara-Kotrung', Decimal('110.74')),
 ('Nador', Decimal('110.73')),
 ('Tabora', Decimal('110.73')),
 ('Bilbays', Decimal('110.72')),
 ('Kurgan', Decimal('110.72')),
 ('Meixian', Decimal('110.72')),
 ('Bucuresti', Decimal('110.71')),
 ('Pune', Decimal('110.70')),
 ('Shanwei', Decimal('110.70')),
 ('Hohhot', Decimal('110.66')),
 ('Stockport', Decimal('109.78')),
 ('Bern', Decimal('109.75')),
 ('Sokoto', Decimal('109.75')),
 ('Arlington', Decimal('109.75')),
 ('Kisumu', Decimal('109.75')),
 ('Florencia', Decimal('109.75')),
 ('Etawah', Decimal('109.74')),
 ('Johannesburg', Decimal('109.73')),
 ('Baku', Decimal('109.73')),
 ('Akishima', Decimal('109.72')),
 ('Valle de la Pascua', Decimal('109.72')),
 ('Tandil', Decimal('109.68')),
 ('Juazeiro do Norte', Decimal('108.78')),
 ('Livorno', Decimal('108.76')),
 ('Czestochowa', Decimal('108.75')),
 ('Witten', Decimal('108.75')),
 ('Celaya', Decimal('108.74')),
 ('Soshanguve', Decimal('108.72')),
 ('Peoria', Decimal('108.70')),
 ('Maring', Decimal('107.77')),
 ('Tianjin', Decimal('107.77')),
 ('Novi Sad', Decimal('107.76')),
 ('Smolensk', Decimal('107.76')),
 ('Sanya', Decimal('107.74')),
 ('Klerksdorp', Decimal('107.74')),
 ('Tuguegarao', Decimal('107.74')),
 ('Jos Azueta', Decimal('107.73')),
 ('A Corua (La Corua)', Decimal('107.71')),
 ('San Felipe de Puerto Plata', Decimal('107.70')),
 ('Abu Dhabi', Decimal('107.68')),
 ('Bhavnagar', Decimal('106.77')),
 ('Ede', Decimal('106.77')),
 ('San Lorenzo', Decimal('106.77')),
 ('Sagamihara', Decimal('106.76')),
 ('al-Ayn', Decimal('106.75')),
 ('Ljubertsy', Decimal('106.73')),
 ('South Hill', Decimal('106.65')),
 ('Tsuyama', Decimal('105.79')),
 ('Kansas City', Decimal('105.75')),
 ('Chungho', Decimal('105.75')),
 ('Hidalgo', Decimal('105.75')),
 ('Allende', Decimal('105.75')),
 ('Augusta-Richmond County', Decimal('105.73')),
 ('Atinsk', Decimal('105.71')),
 ('Coacalco de Berriozbal', Decimal('104.78')),
 ('Dongying', Decimal('104.77')),
 ('Deba Habe', Decimal('104.77')),
 ('Kalisz', Decimal('104.75')),
 ('Kamarhati', Decimal('104.74')),
 ('Tabuk', Decimal('104.74')),
 ('San Juan Bautista Tuxtepec', Decimal('104.74')),
 ('Izumisano', Decimal('104.70')),
 ('Cayenne', Decimal('103.78')),
 ('Isesaki', Decimal('103.77')),
 ('Okinawa', Decimal('103.77')),
 ('ostka', Decimal('103.76')),
 ('Haiphong', Decimal('103.75')),
 ('Yuzhou', Decimal('103.75')),
 ('Bhusawal', Decimal('103.74')),
 ('Namibe', Decimal('103.73')),
 ('Rio Claro', Decimal('103.73')),
 ('Ponce', Decimal('103.73')),
 ('Vitria de Santo Anto', Decimal('103.72')),
 ('Yamuna Nagar', Decimal('103.72')),
 ('Jelets', Decimal('102.76')),
 ('Escobar', Decimal('102.74')),
 ('Adoni', Decimal('101.78')),
 ('Gaziantep', Decimal('101.78')),
 ('Rajkot', Decimal('101.78')),
 ('Almirante Brown', Decimal('101.75')),
 ('Ondo', Decimal('101.75')),
 ('Springs', Decimal('101.75')),
 ('Lubumbashi', Decimal('101.74')),
 ('Oulu', Decimal('101.74')),
 ('Tama', Decimal('101.74')),
 ('Vicente Lpez', Decimal('101.74')),
 ('Chapra', Decimal('100.80')),
 ('Balaiha', Decimal('100.78')),
 ('Ivanovo', Decimal('100.77')),
 ('Varanasi (Benares)', Decimal('100.76')),
 ('Ziguinchor', Decimal('100.75')),
 ('Sanaa', Decimal('100.74')),
 ('Emmen', Decimal('100.74')),
 ('Araatuba', Decimal('100.72')),
 ('Yaound', Decimal('100.69')),
 ('Daxian', Decimal('100.67')),
 ('Sirjan', Decimal('99.80')),
 ('Okayama', Decimal('99.79')),
 ('Xiangtan', Decimal('99.78')),
 ('La Romana', Decimal('99.77')),
 ('Kanazawa', Decimal('99.77')),
 ('Firozabad', Decimal('99.77')),
 ('Bamenda', Decimal('99.77')),
 ('Faaa', Decimal('99.76')),
 ('Suihua', Decimal('99.76')),
 ('Esfahan', Decimal('99.75')),
 ('Sullana', Decimal('99.75')),
 ('Monclova', Decimal('99.74')),
 ('Iligan', Decimal('99.73')),
 ('Taguig', Decimal('99.70')),
 ('Yantai', Decimal('98.80')),
 ('Elista', Decimal('98.79')),
 ('So Leopoldo', Decimal('98.78')),
 ('So Bernardo do Campo', Decimal('98.78')),
 ('Pereira', Decimal('98.77')),
 ('Sambhal', Decimal('98.77')),
 ('Allappuzha (Alleppey)', Decimal('98.76')),
 ('Jaipur', Decimal('98.75')),
 ('Higashiosaka', Decimal('98.75')),
 ('Battambang', Decimal('98.74')),
 ('Torren', Decimal('98.73')),
 ('Ibirit', Decimal('97.80')),
 ('Talavera', Decimal('97.79')),
 ('Chiayi', Decimal('97.76')),
 ('Laohekou', Decimal('97.74')),
 ('Compton', Decimal('97.74')),
 ('Caracas', Decimal('97.74')),
 ('Salala', Decimal('97.73')),
 ('Gingoog', Decimal('97.72')),
 ('Carmen', Decimal('96.78')),
 ('Abha', Decimal('96.76')),
 ('Bchar', Decimal('96.75')),
 ('Kingstown', Decimal('96.75')),
 ('Alvorada', Decimal('96.74')),
 ('Garland', Decimal('96.73')),
 ('Patras', Decimal('96.72')),
 ('Pingxiang', Decimal('95.78')),
 ('La Paz', Decimal('95.78')),
 ('Gatineau', Decimal('95.78')),
 ('Roanoke', Decimal('95.77')),
 ('Sucre', Decimal('95.77')),
 ('Guadalajara', Decimal('95.77')),
 ('Nanyang', Decimal('95.77')),
 ('Aparecida de Goinia', Decimal('95.77')),
 ('Zaria', Decimal('95.75')),
 ('Eskisehir', Decimal('95.75')),
 ('Crdoba', Decimal('95.75')),
 ('Botshabelo', Decimal('95.72')),
 ('Pangkal Pinang', Decimal('94.82')),
 ('Shimoga', Decimal('94.79')),
 ('Shivapuri', Decimal('94.78')),
 ('Qalyub', Decimal('94.77')),
 ('Jakarta', Decimal('94.76')),
 ('Dundee', Decimal('94.74')),
 ('Oshawa', Decimal('93.78')),
 ('Vinh', Decimal('93.78')),
 ('Mahajanga', Decimal('93.78')),
 ('Amersfoort', Decimal('93.77')),
 ('guas Lindas de Gois', Decimal('93.76')),
 ('Buenaventura', Decimal('93.75')),
 ('Anpolis', Decimal('93.75')),
 ('Kermanshah', Decimal('93.74')),
 ('Laredo', Decimal('93.72')),
 ('Ocumare del Tuy', Decimal('92.79')),
 ('Kaliningrad', Decimal('92.79')),
 ('Hamilton', Decimal('92.76')),
 ('Toulon', Decimal('92.76')),
 ('Bayugan', Decimal('92.75')),
 ('Arak', Decimal('92.73')),
 ('Phnom Penh', Decimal('92.73')),
 ('Laiwu', Decimal('92.73')),
 ('Bellevue', Decimal('91.80')),
 ('Okara', Decimal('91.79')),
 ('Alessandria', Decimal('91.79')),
 ('Jaroslavl', Decimal('91.79')),
 ('Kaduna', Decimal('91.78')),
 ('Braslia', Decimal('91.78')),
 ('Addis Abeba', Decimal('91.77')),
 ('Zalantun', Decimal('91.77')),
 ('Kimchon', Decimal('91.76')),
 ('Manchester', Decimal('91.76')),
 ('Xintai', Decimal('91.76')),
 ('Junan', Decimal('91.75')),
 ('Halifax', Decimal('91.75')),
 ('Stara Zagora', Decimal('91.74')),
 ('Balurghat', Decimal('91.74')),
 ('Nezahualcyotl', Decimal('91.70')),
 ('Haining', Decimal('90.79')),
 ('Valencia', Decimal('90.78')),
 ('Ciparay', Decimal('90.77')),
 ('s-Hertogenbosch', Decimal('90.77')),
 ('Lublin', Decimal('89.79')),
 ('Konotop', Decimal('89.79')),
 ('Kilis', Decimal('89.78')),
 ('Idfu', Decimal('89.77')),
 ('Masqat', Decimal('89.77')),
 ('Ezhou', Decimal('89.77')),
 ('Kurashiki', Decimal('89.76')),
 ('Zeleznogorsk', Decimal('89.76')),
 ('Huaian', Decimal('89.75')),
 ('Katihar', Decimal('89.75')),
 ('Surakarta', Decimal('89.74')),
 ('Bratislava', Decimal('89.74')),
 ('Denizli', Decimal('88.82')),
 ('Gorontalo', Decimal('88.80')),
 ('Rizhao', Decimal('88.79')),
 ('Dhule (Dhulia)', Decimal('88.78')),
 ('Amroha', Decimal('88.76')),
 ('Jurez', Decimal('88.75')),
 ('Inegl', Decimal('88.74')),
 ('Hino', Decimal('87.82')),
 ('Purwakarta', Decimal('87.81')),
 ('Asuncin', Decimal('87.79')),
 ('Cheju', Decimal('87.79')),
 ('Bradford', Decimal('87.77')),
 ('El Alto', Decimal('87.76')),
 ('Saarbrcken', Decimal('87.76')),
 ('Ashqelon', Decimal('86.81')),
 ('Siegen', Decimal('86.81')),
 ('Hami', Decimal('86.79')),
 ('Korla', Decimal('86.72')),
 ('Serpuhov', Decimal('85.80')),
 ('Hoshiarpur', Decimal('85.79')),
 ('Bat Yam', Decimal('84.83')),
 ('Gijn', Decimal('84.78')),
 ('Kamakura', Decimal('84.78')),
 ('Shahr-e Kord', Decimal('84.77')),
 ('Saint Louis', Decimal('84.77')),
 ('Clarksville', Decimal('83.82')),
 ('Tieli', Decimal('83.81')),
 ('Southport', Decimal('83.79')),
 ('Nagaon', Decimal('83.79')),
 ('Lausanne', Decimal('83.78')),
 ('Grand Prairie', Decimal('82.79')),
 ('Beni-Mellal', Decimal('82.78')),
 ('San Miguel de Tucumn', Decimal('82.76')),
 ('Myingyan', Decimal('81.78')),
 ('Mogiljov', Decimal('81.76')),
 ('Mandi Bahauddin', Decimal('80.83')),
 ('al-Hawiya', Decimal('80.82')),
 ('Ciudad del Este', Decimal('80.82')),
 ('Ranchi', Decimal('80.79')),
 ('Yingkou', Decimal('80.77')),
 ('Valle de Santiago', Decimal('80.76')),
 ('Cianjur', Decimal('80.74')),
 ('Tarlac', Decimal('79.81')),
 ('Brest', Decimal('79.80')),
 ('Bislig', Decimal('79.79')),
 ('El Monte', Decimal('79.79')),
 ('Dzerzinsk', Decimal('79.78')),
 ('Bag', Decimal('78.84')),
 ('Syktyvkar', Decimal('78.80')),
 ('Sousse', Decimal('78.77')),
 ('Pathankot', Decimal('77.82')),
 ('Santiago de Compostela', Decimal('77.80')),
 ('Pavlodar', Decimal('77.77')),
 ('Niznekamsk', Decimal('76.83')),
 ('Jodhpur', Decimal('76.78')),
 ('Luzinia', Decimal('76.77')),
 ('Ezeiza', Decimal('76.77')),
 ('Berhampore (Baharampur)', Decimal('75.79')),
 ('Chatsworth', Decimal('74.83')),
 ('Udine', Decimal('74.81')),
 ('Novoterkassk', Decimal('74.80')),
 ('Zaoyang', Decimal('74.78')),
 ('Koriyama', Decimal('74.78')),
 ('Rancagua', Decimal('73.84')),
 ('Ktahya', Decimal('73.82')),
 ('Nukualofa', Decimal('73.82')),
 ('Oyo', Decimal('73.80')),
 ('Teboksary', Decimal('73.77')),
 ('Vilnius', Decimal('73.76')),
 ('Pachuca de Soto', Decimal('72.82')),
 ('Matsue', Decimal('72.80')),
 ('Gandhinagar', Decimal('71.81')),
 ('Shenzhen', Decimal('71.81')),
 ('Tafuna', Decimal('71.80')),
 ('Le Mans', Decimal('71.80')),
 ('Matamoros', Decimal('71.77')),
 ('Hagonoy', Decimal('70.82')),
 ('Gulbarga', Decimal('70.81')),
 ('Zapopan', Decimal('69.83')),
 ('Kumbakonam', Decimal('68.82')),
 ('Linz', Decimal('68.79')),
 ('Kabul', Decimal('67.82')),
 ('Tarsus', Decimal('66.84')),
 ('Tegal', Decimal('66.81')),
 ('Barcelona', Decimal('66.79')),

<div class="p-Widget jp-RenderedHTMLCommon jp-RenderedHTML jp-mod-trusted jp-OutputArea-output jp-OutputArea-executeResult" data-mime-type="text/html"><table>
    <tbody><tr>
        <th>city</th>
        <th>revenue</th>
    </tr>
    <tr>
        <td>Cape Coral</td>
        <td>221.55</td>
    </tr>
    <tr>
        <td>Saint-Denis</td>
        <td>216.54</td>
    </tr>
    <tr>
        <td>Aurora</td>
        <td>198.50</td>
    </tr>
    <tr>
        <td>Molodetno</td>
        <td>195.58</td>
    </tr>
    <tr>
        <td>Apeldoorn</td>
        <td>194.61</td>
    </tr>
    <tr>
        <td>Santa Brbara dOeste</td>
        <td>194.61</td>
    </tr>
    <tr>
        <td>Qomsheh</td>
        <td>186.62</td>
    </tr>
    <tr>
        <td>London</td>
        <td>180.52</td>
    </tr>
    <tr>
        <td>Ourense (Orense)</td>
        <td>177.60</td>
    </tr>
    <tr>
        <td>Bijapur</td>
        <td>175.61</td>
    </tr>
</tbody></table></div>

## 3.3 Insight 3 : Revenue of a movie by customer city and by month

### 3.3.1 Total revenue by month

In [12]:
%%sql
SELECT sum(p.amount) as revenue, EXTRACT(month FROM p.payment_date) as month
from payment p
group by month
order by revenue desc
limit 10;

 * postgresql://student:***@127.0.0.1:5432/pagila
5 rows affected.

[(Decimal('28559.46'), 4.0),
 (Decimal('23886.56'), 3.0),
 (Decimal('9631.88'), 2.0),
 (Decimal('4824.43'), 1.0),
 (Decimal('514.18'), 5.0)]

### 3.3.2 Each movie by customer city and by month (data cube)

In [13]:
%%sql
SELECT f.title, p.amount, p.customer_id, ci.city, p.payment_date,EXTRACT(month FROM p.payment_date) as month
FROM payment p
JOIN rental r    ON ( p.rental_id = r.rental_id )
JOIN inventory i ON ( r.inventory_id = i.inventory_id )
JOIN film f ON ( i.film_id = f.film_id)
JOIN customer c  ON ( p.customer_id = c.customer_id )
JOIN address a ON ( c.address_id = a.address_id )
JOIN city ci ON ( a.city_id = ci.city_id )
order by p.payment_date
limit 10;

 * postgresql://student:***@127.0.0.1:5432/pagila
10 rows affected.

[('BLANKET BEVERLY', Decimal('2.99'), 130, 'guas Lindas de Gois', datetime.datetime(2017, 1, 24, 21, 21, 56, 996577, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 1.0),
 ('FREAKY POCUS', Decimal('2.99'), 459, 'Qomsheh', datetime.datetime(2017, 1, 24, 21, 22, 59, 996577, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 1.0),
 ('GRADUATE LORD', Decimal('3.99'), 408, 'Jaffna', datetime.datetime(2017, 1, 24, 21, 32, 5, 996577, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 1.0),
 ('LOVE SUICIDES', Decimal('4.99'), 333, 'Baku', datetime.datetime(2017, 1, 24, 21, 33, 7, 996577, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 1.0),
 ('IDOLS SNATCHERS', Decimal('6.99'), 222, 'Jaroslavl', datetime.datetime(2017, 1, 24, 21, 33, 47, 996577, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 1.0),
 ('MYSTIC TRUMAN', Decimal('0.99'), 549, 'Santiago de Compostela', datetime.datetime(2017, 1, 24, 21, 36, 33, 996577, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 1.0),
 ('SWARM GOLD', Decimal('1.99'), 269, 'Salinas', datetime.datetime(2017, 1, 24, 21, 40, 19, 996577, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 1.0),
 ('LAWLESS VISION', Decimal('4.99'), 239, 'Ciomas', datetime.datetime(2017, 1, 24, 22, 0, 12, 996577, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 1.0),
 ('MATRIX SNOWMAN', Decimal('4.99'), 126, 'Po', datetime.datetime(2017, 1, 24, 22, 29, 6, 996577, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 1.0),
 ('HANGING DEEP', Decimal('5.99'), 399, 'Okara', datetime.datetime(2017, 1, 24, 22, 30, 47, 996577, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 1.0)]

### 3.3.3 Sum of revenue of each movie by customer city and by month

TODO: Write a query that returns the total amount of revenue for each movie by customer city and by month. Limit the results to the top 10 movies. Your result should match the table below.

In [17]:
%%sql
SELECT f.title, ci.city, EXTRACT(month FROM p.payment_date) as month, sum(p.amount) as revenue
FROM payment p
JOIN rental r    ON ( p.rental_id = r.rental_id )
JOIN inventory i ON ( r.inventory_id = i.inventory_id )
JOIN film f ON ( i.film_id = f.film_id)
JOIN customer c  ON ( p.customer_id = c.customer_id )
JOIN address a ON ( c.address_id = a.address_id )
JOIN city ci ON ( a.city_id = ci.city_id )
group by f.title, ci.city, EXTRACT(month FROM p.payment_date)
order by sum(p.amount) desc
limit 10

 * postgresql://student:***@127.0.0.1:5432/pagila
10 rows affected.

[('CARIBBEAN LIBERTY', 'Ibirit', 4.0, Decimal('16.98')),
 ('EAGLES PANKY', 'Datong', 3.0, Decimal('16.98')),
 ('LUST LOCK', 'Coatzacoalcos', 4.0, Decimal('15.98')),
 ('INNOCENT USUAL', 'Valparai', 2.0, Decimal('13.98')),
 ('BREAKFAST GOLDFINGER', 'Ife', 4.0, Decimal('13.98')),
 ('VIRGIN DAISY', 'Cam Ranh', 4.0, Decimal('12.98')),
 ('TITANIC BOONDOCK', 'Sumqayit', 4.0, Decimal('12.98')),
 ('SLEEPLESS MONSOON', 'Fuyu', 4.0, Decimal('12.98')),
 ('TIES HUNGER', 'Naju', 3.0, Decimal('11.99')),
 ('SHOW LORD', 'Mannheim', 1.0, Decimal('11.99'))]

<div class="p-Widget jp-RenderedHTMLCommon jp-RenderedHTML jp-mod-trusted jp-OutputArea-output jp-OutputArea-executeResult" data-mime-type="text/html"><table>
    <tbody><tr>
        <th>title</th>
        <th>city</th>
        <th>month</th>
        <th>revenue</th>
    </tr>
    <tr>
        <td>SHOW LORD</td>
        <td>Mannheim</td>
        <td>1.0</td>
        <td>11.99</td>
    </tr>
    <tr>
        <td>AMERICAN CIRCUS</td>
        <td>Callao</td>
        <td>1.0</td>
        <td>10.99</td>
    </tr>
    <tr>
        <td>CASUALTIES ENCINO</td>
        <td>Warren</td>
        <td>1.0</td>
        <td>10.99</td>
    </tr>
    <tr>
        <td>TELEGRAPH VOYAGE</td>
        <td>Naala-Porto</td>
        <td>1.0</td>
        <td>10.99</td>
    </tr>
    <tr>
        <td>KISSING DOLLS</td>
        <td>Toulon</td>
        <td>1.0</td>
        <td>10.99</td>
    </tr>
    <tr>
        <td>MILLION ACE</td>
        <td>Bergamo</td>
        <td>1.0</td>
        <td>9.99</td>
    </tr>
    <tr>
        <td>TITANS JERK</td>
        <td>Kimberley</td>
        <td>1.0</td>
        <td>9.99</td>
    </tr>
    <tr>
        <td>DARKO DORADO</td>
        <td>Bhilwara</td>
        <td>1.0</td>
        <td>9.99</td>
    </tr>
    <tr>
        <td>SUNRISE LEAGUE</td>
        <td>Nagareyama</td>
        <td>1.0</td>
        <td>9.99</td>
    </tr>
    <tr>
        <td>MILLION ACE</td>
        <td>Gaziantep</td>
        <td>1.0</td>
        <td>9.99</td>
    </tr>
</tbody></table></div>