In [3]:
import os
import glob
import psycopg2
import pandas as pd
from sql_queries import *

conn = psycopg2.connect("host=127.0.0.1 dbname=sparkifydb user=student password=student")
cur = conn.cursor()

song_select = ("""
SELECT *
FROM songs s
LEFT JOIN artists a ON a.artist_id = s.artist_id
LIMIt 1;
""")

cur.execute(song_select)
#cur.execute(song_select, {'song': song, 'artist': artist, 'length': length})
results = cur.fetchall()

for res in results:
    print(res)

    
song_select = ("""
SELECT s.song_id, s.artist_id
FROM songs s
LEFT JOIN artists a ON a.artist_id = s.artist_id
WHERE s.title = %(song)s
    and a.name = %(artist)s
    and s.duration = %(length)s
LIMIt 1;
""")

song = res[1]
print(song)
artist = res[6]
print(artist)
length = res[4]
print(length)

cur.execute(song_select, {'song': song, 'artist': artist, 'length': length})
results = cur.fetchone()

print(cur.query)
print(results)


print('')
conn.close()

('SOINLJW12A8C13314C', 'City Slickers', 'AR8IEZO1187B99055E', 2008, Decimal('149.86404'), 'AR8IEZO1187B99055E', 'Marc Shaiman', '', None, None)
City Slickers
Marc Shaiman
149.86404
b"\nSELECT s.song_id, s.artist_id\nFROM songs s\nLEFT JOIN artists a ON a.artist_id = s.artist_id\nWHERE s.title = 'City Slickers'\n    and a.name = 'Marc Shaiman'\n    and s.duration = 149.86404\nLIMIt 1;\n"
('SOINLJW12A8C13314C', 'AR8IEZO1187B99055E')

In [2]:
import os
import glob
import psycopg2
import pandas as pd
from sql_queries import *

conn = psycopg2.connect("host=127.0.0.1 dbname=sparkifydb user=student password=student")
cur = conn.cursor()

song_select = ("""
SELECT *
FROM songplays sp
LEFT JOIN artists a ON a.artist_id = sp.artist_id
LEFT JOIN songs s ON s.song_id = sp.song_id
""")

cur.execute(song_select)
#cur.execute(song_select, {'song': song, 'artist': artist, 'length': length})
results = cur.fetchall()

for res in results:
    print(res)

print('')
conn.close()

(1, 1542837407796, 15, 'paid', 'SOZCTXZ12AB0182364', 'AR5KOSW1187FB35FF4', 818, 'Chicago-Naperville-Elgin, IL-IN-WI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"', 'AR5KOSW1187FB35FF4', 'Elena', 'Dubai UAE', 49.8039, 15.4749, 'SOZCTXZ12AB0182364', 'Setanta matins', 'AR5KOSW1187FB35FF4', 0, Decimal('269.58322'))